*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.box-sizing{
    background-color: purple;
    width: 700px;
    height: 700px;
    margin: 0 auto;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-content: center; */
}
.content-box{
    background-color: red;
    height: 300px;
    width: 300px;
}
.border-box{
    background-color: green;
    height: 300px;
    width: 300px;
    
}